In [3]:
data = [
    {"name": " Alice ", "score": " 90", "city": "Austin"},
    {"name": "Bob", "score": "", "city": "Dallas"},
    {"name": " Charlie", "score": "85 ", "city": "Austin"}
]

In [20]:
def clean_rows(data):
    cleaned_data = []
    for row in data: 

        if row['score'].strip() != "":
            score = int(row['score'].strip())
        else:
            continue

        if row['name']:
            name = row['name'].strip()
        
        if row['city']:
            city = row['city'].strip()
        
        cleaned_data.append({'name': name, 'score': score, 'city': city})
    
    return cleaned_data

In [22]:
clean_rows(data)

[{'name': 'Alice', 'score': 90, 'city': 'Austin'},
 {'name': 'Charlie', 'score': 85, 'city': 'Austin'}]

In [8]:
def clean_rows_efficient(data):
    cleaned_data = []
    for row in data: 
        if row['score'].strip(): 
            score = int(row['score'].strip())
            if score and row['name'] and row['city']:
                cleaned_data.append({'name': row['name'], 'score': row['score'], 'city': row['city']})

    return cleaned_data

In [9]:
clean_rows_efficient(data)

[{'name': ' Alice ', 'score': ' 90', 'city': 'Austin'},
 {'name': ' Charlie', 'score': '85 ', 'city': 'Austin'}]