In [3]:
data = [
    {"name": " Alice ", "score": " 90", "city": "Austin"},
    {"name": "Bob", "score": "", "city": "Dallas"},
    {"name": " Charlie", "score": "85 ", "city": "Austin"}
]

In [20]:
def clean_rows(data):
    cleaned_data = []
    for row in data: 

        if row['score'].strip() != "":
            score = int(row['score'].strip())
        else:
            continue

        if row['name']:
            name = row['name'].strip()
        
        if row['city']:
            city = row['city'].strip()
        
        cleaned_data.append({'name': name, 'score': score, 'city': city})
    
    return cleaned_data

In [22]:
clean_rows(data)

[{'name': 'Alice', 'score': 90, 'city': 'Austin'},
 {'name': 'Charlie', 'score': 85, 'city': 'Austin'}]

In [33]:
def clean_rows_efficient(data):
    cleaned_data = []
    for row in data: 
        if row['score'].strip(): 
            score = int(row['score'].strip())
            if score and row['name'] and row['city']:
                cleaned_data.append({'name': row['name'], 'score': score, 'city': row['city']})

    return cleaned_data

In [9]:
clean_rows_efficient(data)

[{'name': ' Alice ', 'score': ' 90', 'city': 'Austin'},
 {'name': ' Charlie', 'score': '85 ', 'city': 'Austin'}]

In [ ]:
def filter_high_scores(data, threshold):
    threshold_names = []
    for row in data: 
        if row['score'].strip():
            score = int(row['score'].strip())
            if score >= threshold:
                threshold_names.append(row['name'].strip())
    return threshold_names

filter_high_scores(data, 30)

[' Alice ', ' Charlie']

In [11]:
sales_data = [
    {"customer": " Alice ", "amount": " 100.50 ", "date": "2025-01-01"},
    {"customer": "Bob", "amount": "", "date": "2025-01-02"},
    {"customer": "  Charlie", "amount": "200.75", "date": "2025-01-02"}
]

In [14]:
def clean_sales_data(data):
    cleaned_rows = []
    for row in data: 
        if row['amount'].strip():
            amount = float(row['amount'].strip())
            customer = row['customer'].strip()
            date = row['date'].strip()
            cleaned_rows.append({'customer': customer, 'amount': amount, 'date': date})
    return cleaned_rows

clean_sales_data(sales_data)

[{'customer': 'Alice', 'amount': 100.5, 'date': '2025-01-01'},
 {'customer': 'Charlie', 'amount': 200.75, 'date': '2025-01-02'}]

In [16]:
transactions = [
    {"id": "001", "amount": " 45 ", "status": "complete"},
    {"id": "002", "amount": "", "status": "failed"},
    {"id": "003", "amount": " 150 ", "status": "complete"},
    {"id": "004", "amount": " 80 ", "status": "pending"}
]

In [20]:
def filter_transactions(data, threshold):
    valid_ids = []
    for row in data: 
        if row['amount'].strip():
            amount = int(row['amount'].strip())
            if amount >= threshold and row['status'] == 'complete': 
                valid_ids.append(row['id'].strip())
    return valid_ids

filter_transactions(transactions, 20)

['001', '003']

### JSON Parsing

In [ ]:
import json
#loads on a string
#load from a file

In [22]:
json_string = '[{"name": "Alice", "score": " 95 "}, {"name": "Bob", "score": ""}, {"name": "Charlie", "score": " 88 "}]'

In [31]:
def parse_and_clean_json(json_str):
    final_data = []
    data = json.loads(json_str)
    for row in data: 
        if row['score'].strip():
            score = int(row['score'].strip())
            name = row['name'].strip()
            final_data.append({'name': name, 'score': score})
    return final_data

parse_and_clean_json(json_string)

[{'name': 'Alice', 'score': 95}, {'name': 'Charlie', 'score': 88}]

### Simple Transformations

In [34]:
numbers = [1, 2, 3, 4, 5, 6]

In [35]:
def square_of_even(nums):
    final_nums = []
    for num in nums: 
        if num % 2 == 0:
            final_nums.append(num ** 2)
    return final_nums

square_of_even(numbers)

[4, 16, 36]

In [36]:
def square_of_even_list_comp(nums):
    return [num ** 2 for num in nums if num % 2 == 0]
square_of_even_list_comp(numbers)

[4, 16, 36]